{% extends 'base.html.twig' %}

{% block title %}Votre panier
{% endblock %}

{% block body %}
	<div class="container container-cart mt-5">
		{% if items is not empty %}
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 pl-2">
					<h1 class="mb-5">Récapitulatif de ma commande</h1>
                    <div class="text-psst">
                        <p>Psst... Avez-vous tout ce qu'il vous faut ?</p>
                        <div class="text-center">
                            <a href="{{path('products')}}"class="btn-fra">Continuer vos achats</a>
                        </div>
                    </div>
					<table class="table table-cart">
						<thead>
							<tr>
								<th scope="col">Nom</th>
								<td></td>
								<th scope="col">Prix</th>
								<th scope="col">Quantité</th>
								<th scope="col">Total</th>
                                <td></td>
							</tr>
						</thead>
						<tbody>
							{% for item in items %}
								<tr>
									<td>{{item.product.name}}</td>
									<td>
										<img src="{{item.product.image}}" alt="{{item.product.name}}" width="20%"></td>
									<td>{{item.product.price}}
										€</td>
									<td>{{item.quantity}}</td>
									<td>{{item.product.price * item.quantity}}
										€</td>
									<td>
										<a href="{{path('cart_remove', {'id' : item.product.id})}}" class="btn btn-danger btn-sm">
											<i class="fas fa-trash"></i>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<td class="total-title">
									TOTAL COMMANDE:
								</td>
								<td class="total-price">
									{{total}}€ TTC
								</td>
							</tr>
						</tfoot>
					</table>
                    </div>
				</div>
			</div>
            <div class="text-center btn-checkout">
                <a href="{{path('cart_successcart')}}" class="btn-fra"><i class="fas fa-credit-card"></i> Procéder au paiement</a>
            </div>
		{% else %}
			<div class="text-center">
				<h1 class="display-4 text-dark big-title">Votre panier est vide !</h1>
				<img src="{{ asset('build/cart-framboise.png') }}" width="35%" alt="empty-cart">
			</div>
			<div class="text-center">
				<a href="{{path('products')}}" class="text-lg btn-fra">Retour à la boutique</a>
			</div>
	    {% endif %}
    </div>
{% endblock %}

